.details_repos {
  padding: 20px;
}

.details_repos_row {
  width: 100%;
  padding: 20px;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--background-color-light);
  cursor: pointer;
  transition: 0.2s;
}

.details_repos_row:hover {
  filter: opacity(0.85);
}

.details_repos_row:first-child {
  border-radius: 5px 5px 0 0;
}

.details_repos_row h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.details_repos_row h3 i {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
